LIL_NOUNS_DISCORD_WEBHOOK_URL=
LIL_NOUNS_WARP_CAST_TOKEN=

META_GOV_DISCORD_WEBHOOK_URL=
META_GOV_WARP_CAST_TOKEN=

PROP_HOUSE_DISCORD_WEBHOOK_URL=
PROP_HOUSE_WARP_CAST_TOKEN=

PROP_LOT_DISCORD_WEBHOOK_URL=
PROP_LOT_WARP_CAST_TOKEN=
