# Discord Webhook and Warp Cast Token Settings

# Lil Nouns Settings
LIL_NOUNS_DISCORD_WEBHOOK_URL=""
LIL_NOUNS_WARPCAST_TOKEN=""

# Meta Gov Settings
META_GOV_DISCORD_WEBHOOK_URL=""
META_GOV_WARPCAST_TOKEN=""

# Prop House Settings
PROP_HOUSE_DISCORD_WEBHOOK_URL=""
PROP_HOUSE_WARPCAST_TOKEN=""

# Prop Lot Settings
PROP_LOT_DISCORD_WEBHOOK_URL=""
PROP_LOT_WARPCAST_TOKEN=""

# Second Market Settings
SECOND_MARKET_API_KEY=
SECOND_MARKET_DISCORD_WEBHOOK_URL=""
SECOND_MARKET_WARPCAST_TOKEN=""
