**/.DS_Store
**/.classpath
**/.dockerignore
**/.env*
**/.editorconfig
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.vars
**/charts
**/clif.toml
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/report*
**/rustfmt.toml
**/secrets.dev.yaml
**/values.dev.yaml
/pkg
/build
/target
/tests
/tmp
LICENSE
CHANGELOG.md
README.md
