name: Deploy & Publish
on:
  release:
    types: [ published ]

jobs:

  # Prepare and publish
  deploy:
    name: Deploy to Workers
    runs-on: ubuntu-latest
    environment: ${{ github.event.release.prerelease && 'development' || 'production' }}
    permissions:
      contents: write
      pull-requests: write
    steps:

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Install pnpm package manager
        uses: pnpm/action-setup@v4.2.0

      # Cache dependencies to speed up builds
      - name: Cache cargo dependencies
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Deploy to Workers
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: ${{ github.event.release.prerelease && 'dev' || '' }}
          command: deploy
          secrets: |
            LIL_NOUNS_DISCORD_WEBHOOK_URL
            LIL_NOUNS_WARPCAST_TOKEN
            META_GOV_DISCORD_WEBHOOK_URL
            META_GOV_WARPCAST_TOKEN
            PROP_HOUSE_DISCORD_WEBHOOK_URL
            PROP_HOUSE_WARPCAST_TOKEN
            PROP_LOT_DISCORD_WEBHOOK_URL
            PROP_LOT_WARPCAST_TOKEN
            SECOND_MARKET_API_KEY
            SECOND_MARKET_DISCORD_WEBHOOK_URL
            SECOND_MARKET_WARPCAST_TOKEN
            FARQUEST_API_KEY
        env:
          LIL_NOUNS_DISCORD_WEBHOOK_URL: ${{ secrets.LIL_NOUNS_DISCORD_WEBHOOK_URL }}
          LIL_NOUNS_WARPCAST_TOKEN: ${{ secrets.LIL_NOUNS_WARPCAST_TOKEN }}
          META_GOV_DISCORD_WEBHOOK_URL: ${{ secrets.META_GOV_DISCORD_WEBHOOK_URL }}
          META_GOV_WARPCAST_TOKEN: ${{ secrets.META_GOV_WARPCAST_TOKEN }}
          PROP_HOUSE_DISCORD_WEBHOOK_URL: ${{ secrets.PROP_HOUSE_DISCORD_WEBHOOK_URL }}
          PROP_HOUSE_WARPCAST_TOKEN: ${{ secrets.PROP_HOUSE_WARPCAST_TOKEN }}
          PROP_LOT_DISCORD_WEBHOOK_URL: ${{ secrets.PROP_LOT_DISCORD_WEBHOOK_URL }}
          PROP_LOT_WARPCAST_TOKEN: ${{ secrets.PROP_LOT_WARPCAST_TOKEN }}
          SECOND_MARKET_API_KEY: ${{ secrets.SECOND_MARKET_API_KEY }}
          SECOND_MARKET_DISCORD_WEBHOOK_URL: ${{ secrets.SECOND_MARKET_DISCORD_WEBHOOK_URL }}
          SECOND_MARKET_WARPCAST_TOKEN: ${{ secrets.SECOND_MARKET_WARPCAST_TOKEN }}
          FARQUEST_API_KEY: ${{ secrets.FARQUEST_API_KEY }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
